@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  background-image: url("spacer.png");
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.App .openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
body {
  padding: 0;
  margin: 0;
}

.catpics {
  display: flex;
  margin: 5px;
  float: left;
}

.catpics img {
  height: 250px;
  width: 250px;
}

nav {
  background: #8d7b6f;
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  padding: 20px 10px;
  overflow: auto;
}